{% extends 'base.html' %}

{% block head %}
  <style>
    /* vw */
    .rand_name {
      font-size: clamp(12px,8vw,500px);
    }

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  width: 100%;
}
  footer {
  position: sticky;
  top: 100vh;
  width: 100%;
}


  </style>
{% endblock %}

{% block body %}

<script>
$(function(){
    //候補を配列で設定

    var nameList = [
{% for p in all_part_name_list %}
    '{{ p }}',
{% endfor %}
    ];

    //グローバル変数
    var max_len = nameList.length - 1;
    var randStart;
    var speed = 10; //シャッフルスピード

    //文字シャッフル関数
    //20ミリ秒毎に候補の文字列をシャッフルさせる
    var randShuffle= function(){
        //シャッフル表示用の乱数
        var random = Math.floor(Math.random() * (max_len + 1));
        $('.rand_name').text(nameList[random]);
    }
    //文字シャッフル開始
    randStart = setInterval(randShuffle, speed);

    let name = "{{ name }}"
    if (name.length){
        $('.start').prop("disabled", true);
    } else {
        $('.stop').prop("disabled", true);
    }

    //回転を止める
    $('.stop').click(function(){
        $('.rand_name').text(name); //対象の数値に該当する文字を表示
        clearInterval(randStart); //シャッフルストップ
        $(this).prop("disabled", true);
        $('.start').prop("disabled", false);
    });
});
</script>

<header>
    <div class="container-fluid">
        <form action="/lottery" method="POST">
            <div class="row">
                <div class="col"></div>
                <div class="col-4 py-5 px-0">
                    <button type="submit" class="start btn btn-primary w-100 h-100">スタート！</button>
                </div>
                <div class="col"></div>
                <div class="col-4 py-5 px-0">
                    <button type="button" class="stop btn btn-primary w-100 h-100 py-3">ストップ！</button>
                </div>
                <div class="col"></div>
            </div>
        </form>
    </div>
</header>

<div class="d-flex align-items-center justify-content-center rand_name display-1 text-center h-50 w-100">
</div>

<footer>
<a href="/participant_list">参加者一覧</a> <a href="/winner_list">当選者一覧</a>
</footer>

{% endblock %}
