{% extends 'base.html' %}

{% block head %}
<style>
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    width: 100%;
}

footer {
    position: sticky;
    top: 100vh;
    width: 100%;
}

.rand_name {
    font-size: clamp(12px,8vw,500px);
}

</style>
{% endblock %}

{% block body %}

<script>
$(function(){
    //候補を配列で設定

    var nameList = [
{% for p in all_part_name_list %}
    '{{ p }}',
{% endfor %}
    ];

    //グローバル変数
    var max_len = nameList.length - 1;
    var randStart;
    var speed = 20; //シャッフル速度

    // 当選者名シャッフル関数
    //speedミリ秒毎に候補の文字列をシャッフルさせる
    var randShuffle= function(){
        //シャッフル表示用の乱数
        var random = Math.floor(Math.random() * (max_len + 1));
        $('.rand_name').text(nameList[random]);
    }

    // 当選者名シャッフル開始
    randStart = setInterval(randShuffle, speed);

    // 当選者の名前
    let name = "{{ name }}"

    // 当選者の名前があるか否か(スタートボタンを押したか否か)
    if (name.length){
        $('.start').prop("disabled", true); // スタートボタン無効化
    } else {
        $('.stop').prop("disabled", true);  // ストップボタン無効化
    }

    // ストップボタンでシャッフルを停止
    $('.stop').click(function(){
        $('.rand_name').text(name);             // 当選者の名前を表示
        clearInterval(randStart);               // シャッフル停止
        $(this).prop("disabled", true);         // ストップボタン無効化
        $('.start').prop("disabled", false);    // スタートボタン有効化
    });
});
</script>

<header>
    <div class="container-fluid">
        <form action="/raffle" method="POST">
            <div class="row">
                <div class="col"></div>
                <div class="col-4 py-5 px-0">
                    <button type="submit" class="start btn btn-primary w-100 h-100">スタート</button>
                </div>
                <div class="col"></div>
                <div class="col-4 py-5 px-0">
                    <button type="button" class="stop btn btn-primary w-100 h-100 py-3">ストップ</button>
                </div>
                <div class="col"></div>
            </div>
        </form>
    </div>
</header>

<div class="d-flex align-items-center justify-content-center display-1 text-center h-75 w-100 rand_name">
</div>

<footer>
    <a href="/participant_list">参加者一覧</a> <a href="/winner_list">当選者一覧</a>
</footer>

{% endblock %}
