{% extends 'base.html' %}

{% block body %}

<script>
$(function(){
    //候補を配列で設定

    var nameList = [
{% for p in all_part_name_list %}
    '{{ p }}',
{% endfor %}
    ];

    //グローバル変数
    var max_len = nameList.length - 1;
    var randStart;
    var speed = 20;     // シャッフル速度
    var delay_ms = 1000;   // ボタン押下後の無効時間(ミリ秒)

    // 当選者名シャッフル関数
    // speedミリ秒毎に候補の文字列をシャッフルさせる
    var randShuffle= function(){
        // シャッフル表示用の乱数
        var random = Math.floor(Math.random() * (max_len + 1));
        $('.rand_name').text(nameList[random]);
    }

    // 当選者の名前
    let name = '{{ name }}';

    // 当選者の名前があるか否か(スタートボタンを押したか否か)
    if (name.length){   // スタートを押された後(* -> /raffleのページ遷移時)
        // 当選者名シャッフル開始
        randStart = setInterval(randShuffle, speed);

        $('.start').hide();                         // スタートボタン非表示
        $('.stop').show();                          // ストップボタン表示
        $('.stop').prop("disabled", true);          // ストップボタン無効化
        setTimeout(function(){                      // ストップボタン有効化までdelay_msミリ秒待機
            $('.stop').prop("disabled", false);     // ストップボタン有効化
        },delay_ms);
    } else {    // スタートが押される前(* -> /のページ遷移時)
        $('.stop').hide();                          // ストップボタン非表示
        $('.start').show();                         // スタートボタン表示
        $('.start').prop("disabled", true);         // スタートボタン無効化
        setTimeout(function(){                      // スタートボタン有効化までdelay_msミリ秒待機
            $('.start').prop("disabled", false);    // スタートボタン有効化
        },delay_ms);
    }

    // ストップボタンでシャッフルを停止
    $('.stop').click(function(){
        $('.rand_name').hide();                     // 当選者の名前表示部分を非表示化
        $('.rand_name').text(name);                 // 当選者の名前をセット
        clearInterval(randStart);                   // シャッフル停止
        $('.rand_name').fadeIn(250);                // 当選者の名前をフェードインで表示
        $('.stop').prop("disabled", true);          // ストップボタン無効化
        $(this).hide();                             // ストップボタン非表示

        $('.start').show();                         // スタートボタン表示
        $('.start').prop("disabled", true);         // スタートボタン無効化
        setTimeout(function(){                      // スタートボタン有効化までdelay_msミリ秒待機
            $('.start').prop("disabled", false);    // スタートボタン有効化
        },delay_ms);
    });
});
</script>

<div id="main">
        {% if item %}
        <!-- 当選景品名表示部分 -->
        <div class="item d-flex align-items-center justify-content-center w-100 display-2 text-center">{{ item }}</div>
        <div class="provider d-flex align-items-center justify-content-center w-100 display-3 text-center">by {{ provider }}</div>
        {% endif %}

    <div class="center-block d-flex align-items-center justify-content-center display-1 rand_name">
        <!-- 当選者名表示部分 -->
    </div>
</div>

<div class="buttonwrapper">
    <form action="/raffle" method="POST">
        <div class="buttons mx-auto">
            <button type="submit" class="start btn btnx"></button>
            <button type="button" class="stop btn btnx"></button>
        </div>
    </form>
</div>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-1">
                <a href="/winner_list" class="badge bg-secondary mx-2 my-3 p-2">
                    <i class="bi bi-list-stars"></i> 当選者一覧
                </a>
            </div>
            <div class="col-1">
                <a href="/participant_list" class="badge bg-secondary mx-2 my-3 p-2">
                    <i class="bi bi-list-ul"></i> 抽選対象者一覧
                </a>
            </div>
            <div class="col-6"></div>

            <div class="col-1">
            {% if id %}
                <a href="/rm/{{ id }}" class="badge bg-secondary mx-2 my-3 p-2">
                    <i class="bi bi-trash-fill"></i> 最後の抽選を取り消す
                </a>
            {% endif %}
            </div>
            <div class="col-1"></div>
    </div>
</footer>

{% endblock %}
