{% extends 'base.html' %}

{% block body %}

<script>
$(function(){
    //候補を配列で設定

    var nameList = [
{% for p in all_part_name_list %}
    '{{ p }}',
{% endfor %}
    ];

    //グローバル変数
    var max_len = nameList.length - 1;
    var randStart;
    var speed = 20; //シャッフル速度

    // 当選者名シャッフル関数
    //speedミリ秒毎に候補の文字列をシャッフルさせる
    var randShuffle= function(){
        //シャッフル表示用の乱数
        var random = Math.floor(Math.random() * (max_len + 1));
        $('.rand_name').text(nameList[random]);
    }

    // 当選者名シャッフル開始
    randStart = setInterval(randShuffle, speed);

    // 当選者の名前
    let name = "{{ name }}"

    // 当選者の名前があるか否か(スタートボタンを押したか否か)
    if (name.length){
        $('.start').hide(); // スタートボタン無効化
    } else {
        $('.stop').hide();  // ストップボタン無効化
    }

    // ストップボタンでシャッフルを停止
    $('.stop').click(function(){
        $('.rand_name').hide();
        $('.rand_name').text(name);             // 当選者の名前を表示
        clearInterval(randStart);               // シャッフル停止
        $('.rand_name').fadeIn(250);
        $(this).hide();         // ストップボタン無効化
        $('.start').show();    // スタートボタン有効化
    });
});
</script>

<div id="main">
        {% if item %}
        <!-- 当選景品名表示部分 -->
        <div class="item d-flex align-items-center justify-content-center w-100 display-2 text-center">{{ item }}</div>
        <div class="provider d-flex align-items-center justify-content-center w-100 display-3 text-center">by {{ provider }}</div>
        {% endif %}

    <div class="center-block d-flex align-items-center justify-content-center display-1 rand_name">
        <!-- 当選者名表示部分 -->
    </div>
</div>

<div class="buttonwrapper">
    <form action="/raffle" method="POST">
        <div class="buttons mx-auto">
            <button type="submit" class="start btn btnx"></button>
            <button type="button" class="stop btn btnx"></button>
        </div>
    </form>
</div>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-1">
                <a href="/winner_list" class="badge bg-secondary mx-2 my-3 p-2">
                    <i class="bi bi-list-stars"></i> 当選者一覧
                </a>
            </div>
            <div class="col-1">
                <a href="/participant_list" class="badge bg-secondary mx-2 my-3 p-2">
                    <i class="bi bi-list-ul"></i> 抽選対象者一覧
                </a>
            </div>
            <div class="col-6"></div>

            <div class="col-1">
            {% if id %}
                <a href="/rm/{{ id }}" class="badge bg-secondary mx-2 my-3 p-2">
                    <i class="bi bi-trash-fill"></i> 最後の抽選を取り消す
                </a>
            {% endif %}
            </div>
    </div>
</footer>

{% endblock %}
