{% extends 'base.html' %}

{% block head %}
<style>
html {
    height: 100%;
}

footer {
    position: sticky;
    top: 100vh;
    width: 100%;
}
</style>
{% endblock %}

{% block body %}

データ数: {{ sum }}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ユーザー名</th>
            <th scope="col">表示名</th>
            <th scope="col">受付番号</th>
        </tr>
    </thead>
    <tbody>
{% for i in part_list %}
        <tr>
    {% for j in i %}
            <td>{{ j }}</td>
    {% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>

<footer>
<a href="/">戻る</a>
</footer>

{% endblock %}
